.chart-container {
  width: 100%;
  max-width: 250px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.inventory-container {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
}

.content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inventory-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.inventory-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: 0.3s;
}

.inventory-item:hover {
  transform: translateY(-5px);
}

.inventory-item h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}

.inventory-item p {
  font-size: 16px;
  margin: 5px 0;
}

.actions {
  margin-top: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

button.update {
  background-color: #af4c9d;
  color: white;
  margin-right: 10px;
}

button.update:hover {
  background-color: #7e3375;
}

button.delete {
  background-color: #f44336;
  color: white;
}

button.delete:hover {
  background-color: #e53935;
}

.no-items {
  font-size: 18px;
  color: #777;
}


.popup-content {
  background: rgb(186, 202, 226);
  padding: 20px;
  border-radius: 8px;
  width: 330px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group select,
.form-group input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-actions button:first-child {
  background-color: rgb(95, 193, 95);
  color: white;
}

.popup-actions button.close-btn {
  background-color: #d40834;
  color: white;
}

.edit{
  background-color: rgb(54, 121, 237);
}
