.inventory-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: rgb(186, 202, 226);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
}

.menu-item .icon {
  margin-right: 10px;
  font-size: 18px;
}

.menu-item.active {
  background: linear-gradient(to right, rgb(43, 83, 141), rgb(43, 83, 141));
  font-weight: bold;
  color: #fff;
}

.menu-item:hover {
  background: linear-gradient(to right, rgb(43, 83, 141), rgb(43, 83, 141));
  color: #fff;
}

.logout {
  margin-bottom: 100px;
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: #0e0e0e;
  font-weight: bold;
  transition: 0.3s;
}

.logout:hover {
  background: rgba(32, 49, 203, 0.2);
}

.logout .icon {
  margin-right: 10px;
}

.image-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.right-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}
